$main-gray: #4e4f5c;
$border-gray: #eff0f8;
$input-border-gray: #dcdcdc;
$close-gray: #9a9ba9;
$main-purple: #8e92f8;
$invalid-red: #af3146;
$success-green: #4bb543;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: #f6f6ff;
  color: $main-gray;
}

.bg-shadow {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.5);
  z-index: 1;
}


.container {
  width: 40rem;
  background-color: #fff;
  border-radius: 1.5rem;
  border: 0.1rem solid $border-gray;
  opacity: 1;

  &.fade-out {
    animation: fadeOut 1.5s ease-out backwards;
  }

  @keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
  }

  .success {
    color: $success-green;
  }

  .border-red {
    border: 1px solid red;
  }

  .form-title {
    border-bottom: 0.1rem solid $border-gray;
    display: flex;
    position: relative;
    padding: 1.6rem 3rem;

    h1 {
      font-size: 1.6rem;
      font-weight: 600;
    }


    .close {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 1.2rem;
      right: 1.3rem;
      height: 2rem;
      width: 2rem;
      padding: 1.3rem;
      border-radius: 100%;
      cursor: pointer;

      .cross-left,
      .cross-right {
        position: absolute;
        width: 0.2rem;
        height: 1.3rem;
        background-color: $close-gray;
      }

      .cross-left {
        transform: rotate(-45deg);
      }

      .cross-right {
        transform: rotate(45deg);
      }

      &:hover {
        background-color: $main-purple;

        .cross-left,
        .cross-right {
          background-color: #fff;
        }
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem 1rem 3rem;

    label {
      margin-bottom: 0.7rem;
      font-size: 1.2rem;
      font-weight: 600;
    }

    input {
      margin-bottom: 1.5rem;
      padding-left: 1rem;
      height: 4rem;
      border: 0.1rem solid $input-border-gray;
      border-radius: 0.6rem;
      font-size: 1.6rem;
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      color: $main-gray;
      caret-color: $main-purple;
      outline: none;

      &:focus {
        border-color: $main-purple;
      }
    }

    #password {
      width: 338px;
    }

    .inputBox {
      position: relative;
      margin-bottom: 1.3rem;
      height: 4.2rem;

      span {
        position: absolute;
        transform: translate(0, -50%);
        top: 50%;
        right: 1rem;
        cursor: pointer;

        .far {
          font-size: 1.5rem;
        }
      }
    }

    #confirm-password {
      margin-bottom: 0.2rem;
    }

    .pass-info {
      display: none;
      font-size: 1.2rem;
      color: red;
    }

    h2 {
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-size: 1.6rem;
      font-weight: 600;
    }

    .fas {
      padding-right: 0.8rem;
    }

    p {
      padding-bottom: .5rem;
      font-size: 1.4rem;
      font-weight: 400;
      color: $invalid-red;
    }

    .submit {
      margin-top: 1.5rem;
      color: #fff;
      background-color: $main-purple;
      cursor: pointer;
    }
  }

  .modal {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    border-radius: 0.6rem;
    border: 0.1rem solid $input-border-gray;
    z-index: 2;

    .modal-title {
      width: 100%;
      border-bottom: 1px solid $border-gray;

      h3 {
        padding: 1rem 0;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 600;
      }
    }

    .modal-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .fa-check-circle {
        padding: 1.4rem;
        font-size: 2.1rem;
        color: $success-green;
      }

      .modal-info {
        padding: 0 2.5rem;
        font-size: 1.3rem;
        font-weight: 400;
      }

      .modal-btn {
        display: inline;
        width: 50%;
        padding: 0.3rem 0;
        margin: 2rem auto 2.2rem auto;
        border: 0.1rem solid $input-border-gray;
        border-radius: 0.6rem;
        text-transform: uppercase;
        font-size: 1.6rem;
        font-family: 'Poppins', sans-serif;
        color: #fff;
        background-color: $main-purple;
        cursor: pointer;
      }
    }
  }

}