<!DOCTYPE HTML>
<html th:replace="~{/layout/layout-No-Sidebar :: layout(~{::menuTitle}, ~{::mainSection})}" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<menuTitle>장바구니</menuTitle>

<mainSection>
    <div class="card shadow mb-5">
      <div class="card-body">
        <div class="row justify-content-between mb-3">
          <div class="text-start col-6">
            <button type="button" class="btn btn-outline-danger btn-deleteselected selected">선택삭제</button>
          </div>
          <div class="text-end col-6">
            <button type="button" class="btn btn-danger btn-empty">장바구니 비우기</button>
          </div>
        </div>
        <table class="table" id="cartTable">
          <thead>
          <tr>
            <th scope="col" colspan="2">
              <input class="form-check-input mx-2" type="checkbox" id="selectAll">
              <label for="selectAll">전체 선택</label>
            </th>
            <th>자료명</th>
            <th>금액</th>
            <th>선택</th>
          </tr>
          </thead>
          <tbody class="table-group-divider" id="carts">
          <!-- 장바구니 상품 목록이 동적으로 추가될 영역 -->
          </tbody>
          <!-- CONTENTS !-->


          <tfoot>
          <tr>
            <th id="totalcnt">총 0건</th>
            <th></th>
            <th></th>
            <th id="totalprice">합계 : 0원</th>
            <th>
              <button type="button" class="btn btn-outline-secondary btn-paying">선택 구매<i class="fa-solid fa-comment-dollar ps-2"></i></button>
            </th>
          </tfoot>
        </table>
      </div>
    </div>
  <script src="/js/cart.js"></script>
</mainSection>
</body>
</html>