<!-- navbar.html -->
<!-- ============================================-->
<!-- <section> begin ============================-->

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<link rel="manifest" href="/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<th:block th:fragment="navbar">
  <section class="bg-primary py-2" style="height: 50px">
    <div class="container">
      <div class="row justify-content-between">
        <span class="col-auto text-center" style="width: 60px"><a class="text-800 fs--1" th:href="@{/members/login}"><i class="fa-solid fa-house"></i></a></span>
        <ul class="col-auto list list-unstyled mb-md-4 mb-lg-0">
          <li class="float-start text-center me-2" th:if="${#request.getRemoteUser() != null}"><a class="text-800 fs--1" th:href="@{/members/info}" th:text="'[' + ${#request.getRemoteUser()} + ']'">이메일</a></li>
          <li class="float-start text-center" style="width: 60px" th:if="${#request.getRemoteUser() == null}"><a class="text-800 fs--1" th:href="@{/members/login}">로그인</a></li>
          <li class="float-start text-center" style="width: 60px" th:if="${#request.getRemoteUser() == null}"><a class="text-800 fs--1" th:href="@{/members/signup}">회원가입</a></li>
          <li class="float-start text-center" style="width: 60px" th:if="${#request.getRemoteUser() != null}"><a class="text-800 fs--1" th:href="@{/member/signout}">로그아웃</a></li>
          <li class="float-start text-center" style="width: 60px"><a class="text-800 fs--1" th:href="@{/faq/best}">고객지원</a></li>
          <a th:href="@{/cart/cart}" class="cart-link mx-3">
                    <span class="icon-container-cart">
                      <span class="fa-solid fa-cart-shopping fa-2x"></span>
                      <span class="badge-cart" id="cartCnt">0</span>
                    </span>
          </a><!--장바구니-->
        </ul>
      </div>
    </div>
    <!-- end of .container-->

  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->


  <nav class="navbar navbar-expand-lg navbar-light sticky-top py-2 backdrop shadow-transition" data-navbar-on-scroll="data-navbar-on-scroll" style="background-image: none; background-color: rgba(249,250,253,0.5)">
    <div class="container">
      <a class="navbar-brand" th:href="@{/}">
        <img src="/assets/img/gallery/logo-n.png" height="80" alt="logo" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ps-5" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown px-4">
            <a th:href="@{/sheet/list}" class="nav-link" aria-current="page">독후활동지</a>
            <ul class="dropdown-menu bg-light m-0">
              <li><a th:href="@{/sheet/list?ageGroup=유아용}" class="dropdown-item">연령별</a></li>
              <li><a th:href="@{/sheet/list?genre=그림책}" class="dropdown-item">장르별</a></li>
              <li><a th:href="@{/sheet/list?genre=독서토론논제은행}" class="dropdown-item">독서토론논제은행</a></li>
              <li><a th:href="@{/sheet/request}" class="dropdown-item">개별출제요청</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown px-4">
            <a th:href="@{/manual/list}" class="nav-link" aria-current="page">알림마당</a>
            <div class="dropdown-menu bg-light m-0">
              <a th:href="@{/manual/list}" class="dropdown-item">이용방법</a>
              <a th:href="@{/notice/list}" class="dropdown-item">공지사항</a>
              <a th:href="@{/faq/BEST}" class="dropdown-item">자주묻는질문</a>
            </div>
          </li>
          <li class="nav-item dropdown px-4" th:if="${#request.getRemoteUser() != null}">
            <a th:href="@{/members/info}" class="nav-link" aria-current="page">마이페이지</a>
            <div class="dropdown-menu bg-light m-0">
              <a th:href="@{/members/info}" class="dropdown-item">내 정보</a>
              <a th:href="@{/sheet/mysheet}" class="dropdown-item">내 독후활동지</a>
              <a th:href="@{/sheet/request/myrequest}" class="dropdown-item">내 출제요청</a>
              <a th:href="@{/coupon/list}" class="dropdown-item">내 쿠폰</a>
              <a th:href="@{/myPay}" class="dropdown-item">내 결제</a>
            </div>
          </li>
          <li class="nav-item dropdown px-4" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
            <a th:href="@{/admin}" class="nav-link" aria-current="page">관리자</a>
            <div class="dropdown-menu bg-light m-0">
              <a th:href="@{/members/list}" class="dropdown-item">회원 관리</a>
              <a th:href="@{/sheet/request/list}" class="dropdown-item">받은 출제요청</a>
              <a><hr class="dropdown-divider"></a>
              <a th:href="@{/sheet/add}" class="dropdown-item">활동지 등록</a>
              <a th:href="@{/notice/post}" class="dropdown-item">공지사항 등록</a>
              <a th:href="@{/faq/add}" class="dropdown-item">자주묻는질문 등록</a>
              <a th:href="@{/manual/post}" class="dropdown-item">이용안내 등록</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</th:block>
<!---------------nav end-------------------->