<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/css/notice.css}">
</head>
<body>
<!-- header 추가 -->
<div th:insert="common/header.html" id="header"></div>

<div id="wrap">
    <a th:href="@{/notice/post}">글쓰기</a>

    <form action="/notice/search" method="GET">
        <div class="search">
            <input name="keyword" type="text" placeholder="검색어를 입력해주세요">
        </div>

        <button>검색하기</button>
    </form>

    <table>
        <thead>
        <tr>
            <th class="one wide">번호</th>
            <th class="ten wide">글제목</th>
            <th class="three wide">작성일</th>
            <th class="four wide">조회수</th>
        </tr>
        </thead>

        <tbody>
        <!-- CONTENTS !-->
        <tr th:each="notice : ${noticeList}">
            <td>
                <span th:text="${notice.noticeNo}"></span>
            </td>
            <td>
                <a th:href="@{'/notice/post/' + ${notice.noticeNo}}">
                    <span th:text="${notice.noticeTitle}"></span>
                </a>
            </td>
            <td>
                <span th:text="${#temporals.format(notice.noticeRegdate, 'yyyy-MM-dd HH:mm')}"></span>
            </td>
            <td>
                <span th:text="${notice.noticeHit}"></span>
            </td>
        </tr>
        </tbody>
    </table>

    <div>
        <!-- 페이지 이동 버튼-->
        <div th:each="pageNumber : ${#numbers.sequence(0, noticeList.totalPages - 1)}">
            <form th:action="@{/notice/list}" method="get">
                <input type="hidden" name="page" th:value="${pageNumber}" />
                <button th:text="${pageNumber + 1}"></button>
            </form>
        </div>
<!--    <span th:each="pageNum : ${pageList}" th:inline="text">
        <a th:href="@{'/?page=' + ${pageNum}}">[[${pageNum}]]</a>
    </span>-->
    </div>
</div>

<!-- footer 추가 -->
<div th:insert="common/footer.html" id="footer"></div>
</body>
</html>