<!DOCTYPE HTML>
<html th:replace="~{/layout/defaultLayout :: layout(~{::menuTitle}, ~{::sidebar}, ~{::mainSection})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .active a {
            color: red;
        }
    </style>
</head>
<body>
<menuTitle>관리</menuTitle>
<sidebar class="list-group-item"><a th:href="@{/members/list}">회원 관리</a></sidebar>
<sidebar class="list-group-item"><a th:href="@{/sheet/requestlist}">받은 출제요청</a></sidebar>
<sidebar class="list-group-item"><a th:href="@{/sheet/add}">활동지 등록</a></sidebar>
<mainsection>
    <div id="wrap">
        <div class="row g-0 align-items-center">
            <div class="col-auto">
                <h1 class="fs-5 fs-xl-5 mb-5">회원 관리</h1>
            </div>
            <div class="col-auto ms-auto align-self-end">
                <form class="form-inline" action="/members/list" method="GET">
                    <div class="input-group">
                        <select name="method" class="form-control">
                            <option selected>이메일/이름</option>
                            <option>이메일</option>
                            <option>이름</option>
                        </select>
                        <input class="form-control" name="keyword" type="text" placeholder="검색어를 입력해주세요" id="keyword"/>
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit" id="searchButton">검색</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
<!--    <form action="/members/list">-->
<!--        <select name="method">-->
<!--            <option>검색기준</option>-->
<!--            <option>이메일</option>-->
<!--            <option>이름</option>-->
<!--            <option>이메일/이름</option>-->
<!--        </select>-->
<!--        <input type="text" name="keyword" placeholder="검색어를 입력해주세요" id="keyword">-->
<!--        <button type="button" id="searchButton">검색</button>-->
<!--    </form>-->
    <table>
        <thead>
        <tr>
            <th>이름</th>
            <th>이메일</th>
            <th>번호</th>
            <th>생년월일</th>
            <th>성별</th>
            <th>버튼</th>
            <th>권한수정</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="member : ${members}">
            <td id="name" th:text="${member.memberName}"></td>
            <td id="email"><a th:href="@{/members/__${member.memberEmail}__}" th:text="${member.memberEmail}"></a></td>
            <td id="phone" th:text="${member.memberPhone}"></td>
            <td id="birthday" th:text="${member.memberBirthday}"></td>
            <td id="gender">
                <span class="col-6" th:if="${member.memberGender != ''}" th:text="${member.memberGender}"></span>
                <span class="col-6" th:if="${member.memberGender == ''}" th:text="미선택"></span>
            </td>
            <td>
                <button type="button" id="delBtn">delete</button>
            </td>
            <td>
                <select class="roleSelect">
                    <option value="ROLE_MEMBER" th:selected="${member.memberRole == 'ROLE_MEMBER'}">회원</option>
                    <option value="ROLE_ADMIN" th:selected="${member.memberRole == 'ROLE_ADMIN'}">관리자</option>
                </select>
            </td>
        </tr>
        <tr th:if="${members.isEmpty()}">
            <td colspan="3" style="text-align: center;">일치하는 검색 결과가 없습니다.</td>
        </tr>
        </tbody>
    </table>

    <!--페이징-->
    <div>
    <span>
      <a th:if="${currentPage > 0}"
         th:href="@{/members/list(page=${previousGroupStartPage}, size=${pageSize}, method=${method}, keyword=${keyword})}"> &lt;&lt; </a>
   </span>

        <span>
        <a th:if="${currentPage > 0}"
           th:href="@{/members/list(page=${currentPage - 1}, size=${pageSize}, method=${method}, keyword=${keyword})}"> &lt; </a>
    </span>

        <span th:each="pageNumber : ${#numbers.sequence(startPage, endPage)}"
              th:class="${pageNumber == currentPage} ? 'active' : ''">
      <a th:if="${not #lists.isEmpty(members)}"
         th:href="@{/members/list(page=${pageNumber}, size=${pageSize}, method=${method}, keyword=${keyword})}"
         th:text="${pageNumber + 1}"></a>
   </span>

        <span>
      <a th:if="${currentPage + 1 < totalPages}"
         th:href="@{/members/list(page=${currentPage + 1}, size=${pageSize}, method=${method}, keyword=${keyword})}"> &gt; </a>
   </span>

        <span>
      <a th:if="${currentPage + 1 < totalPages}"
         th:href="@{/members/list(page=${nextGroupStartPage}, size=${pageSize}, method=${method}, keyword=${keyword})}"> &gt;&gt; </a>
   </span>
    </div>

    <script th:inline="javascript">
        // 삭제 버튼
        var delButtons = document.querySelectorAll("#delBtn");
        delButtons.forEach(function (button) {
            button.addEventListener("click", deleteMember);
        });

        function deleteMember(event) {
            if (confirm("삭제하시겠습니까??")) {
                event.preventDefault(); // 폼의 기본 동작(페이지 새로고침) 방지

                var email = this.closest('tr').querySelector('#email').textContent; // 해당 행의 이메일 값을 가져옴
                var url = "/member/admin/" + email; // 이메일을 주소에 추가

                fetch(url, {
                    method: 'DELETE',
                    header: {'ajax': true}
                })
                    .then((response) => {
                        if (response.ok) {
                            alert("삭제 완료")
                            location.reload();
                        } else if (response.status === 201) {
                            deleteMember();
                        } else {
                            // 기타 상태 코드에 대한 처리
                        }
                    })
            }

        }

        // 권한 수정
        document.addEventListener('DOMContentLoaded', sendForm);

        function sendForm() {
            let selectElements = document.querySelectorAll('.roleSelect'); // 모든 select 요소 선택
            selectElements.forEach(function (selectElement) {
                // var updateBtn = selectElement.nextElementSibling; // 다음 sibling 요소인 updateBtn 버튼 선택
                selectElement.addEventListener('change', function () {

                    // Update the selected value when the option changes
                    let memberEmail = selectElement.closest('tr').querySelector('#email').innerText;
                    let memberName = selectElement.closest('tr').querySelector('#name').innerText;
                    let memberPhone = selectElement.closest('tr').querySelector('#phone').innerText;
                    let memberGender = selectElement.closest('tr').querySelector('#gender').innerText;
                    let memberBirthday = selectElement.closest('tr').querySelector('#birthday').innerText;
                    let selectedValue = this.options[this.selectedIndex].value;

                    let formData = new URLSearchParams({
                        memberEmail: memberEmail,
                        memberName: memberName,
                        memberPhone: memberPhone,
                        memberGender: memberGender,
                        memberBirthday: memberBirthday,
                        memberRole: selectedValue
                    });
                    fetch("/member/admin/" + memberEmail, {
                        method: 'PUT',
                        body: formData
                    })
                        .then((response) => {
                            if (response.status === 200) {
                                alert('권한 수정이 완료되었습니다');
                                location.reload();
                            } else if (response.status === 201) {
                                sendForm();
                            } else {
                                // 기타 상태 코드에 대한 처리
                            }
                        })
                });
            });
        }

    </script>

</mainsection>

</body>
</html>
