<!DOCTYPE html>
<html th:replace="~{/layout/layout-No-Sidebar-No-Title :: layout(~{::mainSection})}" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<mainSection>
    <div class="container">
        <div class="h1 text-center">
            Server Error
        </div>
        <div class="text-center">서버에서 알 수 없는 오류가 발생했습니다.</div>
        <div class="text-center mb-5">요청하신 페이지가 사라졌거나, 잘못된 경로를 이용하셨습니다. :)</div>
        <div class="text-center mb-7"><a class="btn-lg btn-primary" href="/">홈으로</a></div>
    </div>
</mainSection>
</body>
</html>