<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit</title>
</head>
<body>
<h1>Edit</h1>
<form th:object="${member}">
    <input type="hidden" name="_method" value="PUT" />

    <div>
        <label>Name:</label>
        <input type="text" name="memberName" id="memberName" th:value="${member.memberName}"/>
        <div id="memberNameError"></div>
    </div>
    <div>
        <label>Phone:</label>
        <input type="text" name="memberPhone" id="memberPhone" th:value="${member.memberPhone}"/>
        <div id="memberPhoneError"></div>
    </div>
    <div>
        <label>Gender:</label>
        <input type="text" name="memberGender" id="memberGender" th:value="${member.memberGender}"/>
        <div id="memberGenderError"></div>
    </div>
    <div>
        <label>Birthday:</label>
        <input type="date" name="memberBirthday" id="memberBirthday" th:value="${#dates.format(member.memberBirthday, 'yyyy-MM-dd')}"/>
    </div>
    <div>
        <button type="submit" id="editBtn">Edit</button>
    </div>
</form>
<script th:inline="javascript">
    document.getElementById("editBtn").addEventListener("click", function(event) {
        event.preventDefault(); // 폼의 기본 동작(페이지 새로고침) 방지

        let memberName = document.getElementById("memberName").value;
        let memberPhone = document.getElementById("memberPhone").value;
        let memberGender = document.getElementById("memberGender").value;
        let memberBirthday = document.getElementById("memberBirthday").value;
        console.log(memberName, memberPhone, memberGender, memberBirthday)
        let formData = new URLSearchParams({
            memberName: memberName,
            memberPhone: memberPhone,
            memberGender: memberGender,
            memberBirthday: memberBirthday
        });
        fetch("/member/" + /*[[${member.memberEmail}]]*/ '', {
            method: 'PUT',
            body: formData
        })
        .then((response) => {
            if (response.ok) {
                // 성공적인 응답 처리
            } else if (response.status === 400) {
                response.json().then(data => {
                    // 응답 데이터를 파싱하여 에러 메시지 표시
                    for (const error of data) {
                        const inputField = document.querySelector(`[name="${error.field}"]`);
                        const errorMessage = error.defaultMessage;

                        // 해당 입력 필드 아래에 에러 메시지 표시
                        const errorElement = inputField.nextElementSibling;
                        errorElement.innerText = errorMessage;
                        // inputField.parentNode.appendChild(errorElement);
                    }
                });
            } else {
                // 기타 상태 코드에 대한 처리
            }
        })
    });
</script>
</body>
</html>
