<!--
이거 달아주면 적용됩니다.
<sidebar><th:block th:replace="layout/sidebar/sheet-sidebar :: sheet"></th:block></sidebar>
-->
<th:block th:fragment="sheet">
<list class="list-group-item"><a th:href="@{/sheet/list}">전체 보기</a></list>
<list class="list-group-item"><a th:href="@{/sheet/list?ageGroup=유아용}">연령별로 보기</a></list>
<list th:if="${not #strings.isEmpty(ageGroup)}" class="list-group-item mx-1"><a th:href="@{/sheet/list?ageGroup=유아용}">연령별 - 유아용</a></list>
<list th:if="${not #strings.isEmpty(ageGroup)}" class="list-group-item mx-1"><a th:href="@{/sheet/list?ageGroup=초등저학년}">연령별 - 초등저학년</a></list>
<list th:if="${not #strings.isEmpty(ageGroup)}" class="list-group-item mx-1"><a th:href="@{/sheet/list?ageGroup=초등고학년}">연령별 - 초등고학년</a></list>
<list th:if="${not #strings.isEmpty(ageGroup)}" class="list-group-item mx-1"><a th:href="@{/sheet/list?ageGroup=중등}">연령별 - 중등</a></list>
<list th:if="${not #strings.isEmpty(ageGroup)}" class="list-group-item mx-1"><a th:href="@{/sheet/list?ageGroup=고등}">연령별 - 고등</a></list>
<list class="list-group-item"><a th:href="@{/sheet/list?genre=그림책}">장르별로 보기</a></list>
<list th:if="${not #strings.isEmpty(genre) and genre != '독서토론논제은행'}" class="list-group-item mx-1"><a th:href="@{/sheet/list?genre=그림책}">장르별 - 그림책</a></list>
<list th:if="${not #strings.isEmpty(genre) and genre != '독서토론논제은행'}" class="list-group-item mx-1"><a th:href="@{/sheet/list?genre=동화}">장르별 - 동화</a></list>
<list th:if="${not #strings.isEmpty(genre) and genre != '독서토론논제은행'}" class="list-group-item mx-1"><a th:href="@{/sheet/list?genre=청소년소설}">장르별 - 청소년소설</a></list>
<list th:if="${not #strings.isEmpty(genre) and genre != '독서토론논제은행'}" class="list-group-item mx-1"><a th:href="@{/sheet/list?genre=세계명작}">장르별 - 세계명작</a></list>
<list th:if="${not #strings.isEmpty(genre) and genre != '독서토론논제은행'}" class="list-group-item mx-1"><a th:href="@{/sheet/list?genre=현대문학}">장르별 - 현대문학</a></list>
<list th:if="${not #strings.isEmpty(genre) and genre != '독서토론논제은행'}" class="list-group-item mx-1"><a th:href="@{/sheet/list?genre=한국고전}">장르별 - 한국고전</a></list>
<list class="list-group-item"><a th:href="@{/sheet/list?genre=독서토론논제은행}">논제은행</a></list>
<list class="list-group-item"><a th:href="@{/sheet/request}">개별출제요청</a></list>
</th:block>