<!DOCTYPE HTML>
<html th:replace="~{layout/defaultLayout :: layout(~{::menuTitle}, ~{::sidebar}, ~{::mainSection})}" xmlns:th="http://www.thymeleaf.org">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<menuTitle>독후활동지 등록</menuTitle>
<sidebar><th:block th:replace="layout/sidebar/admin-sidebar :: admin"></th:block></sidebar>

<mainSection>
    <div id="wrap">
        <div class="row g-0 align-items-center">
            <div class="col-auto">
                <h1 class="fs-5 fs-xl-5 mb-5">독후활동지 등록</h1>
            </div>
        </div>
        <form id="addForm" action="/sheet/add" th:action="@{/sheet/add}" th:object="${sheetRegDto}" method="post" enctype="multipart/form-data">
            <hr class="my-4">
            <div class="mb-4">
                <label class="form-label">도서 검색하기</label>
                <button type="button" class="btn btn-primary" onclick="openModal()">도서검색</button>
            </div>
            <hr class="my-4">
            <!--    도서 검색 모달 창  -->
            <div id="bookSearchModal" class="modal">
                <div class="modal-content">
                    <h2 class="mb-5 mt-5">도서 검색</h2>
                    <div class="d-flex align-items-center mb-4">
                        <span class="request-title">책 제목</span>
                        <input type="text" id="keyword" class="form-control " placeholder="제목을 입력해주세요" style="width: 400px;">
                    </div>
                    <div class="d-flex align-items-center mb-4">
                        <span class="request-title">작가</span>
                        <input type="text" id="authorSearch" class="form-control" placeholder="작가를 입력해주세요" style="width: 400px;">
                    </div>
                    <div class="align-items-center mb-4 fs-sm--1">
                        <span>* 책 제목 또는 작가만 입력하셔도 검색 가능합니다. *</span>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-primary" onclick="search()">검색</button>
                    </div>
                    <div id="searchResult"></div>
                </div>
            </div>
            <!--    END 도서 검색 모달 창  -->

            <div class="mb-4">
                <label for="sheetBooktitle">책 제목</label>
                <input type="text" id="sheetBooktitle" th:field="*{sheetBooktitle}" class="form-control" placeholder="책 제목을 입력하세요">
                <span class="errorMsg" th:errors="*{sheetBooktitle}">책 제목 오류</span>
            </div>
            <div class="mb-4">
                <label for="sheetBookauthor">작가</label>
                <input type="text" id="sheetBookauthor" th:field="*{sheetBookauthor}" class="form-control" placeholder="작가를 입력하세요">
                <span class="errorMsg" th:errors="*{sheetBookauthor}">작가 오류</span>
            </div>
            <div class="mb-4">
                <label for="sheetBookpublisher">출판사</label>
                <input type="text" id="sheetBookpublisher" th:field="*{sheetBookpublisher}" class="form-control" placeholder="출판사를 입력하세요">
                <span class="errorMsg" th:errors="*{sheetBookpublisher}">출판사 오류</span>
            </div>
            <div class="mb-4">
                <label class="form-label">ISBN</label>
                <input type="text" id="sheetBookisbn" name="requestBookisbn" class="form-control" placeholder="isbn을 입력하세요" readonly>
            </div>
            <div class="mb-4">
                <label for="sheetPrice">가격</label>
                <input type="number" id="sheetPrice" th:field="*{sheetPrice}" class="form-control" placeholder="가격을 입력하세요">
                <span class="errorMsg" th:errors="*{sheetPrice}">가격 오류</span>
            </div>
            <div class="mb-4">
                <label for="sheetBookImg">표지 이미지</label>
                <input type="file" id="sheetBookImg" name="sheetBookImg" class="form-control" accept=".jpg, .jpeg, .png, .gif" placeholder="이미지 파일을 업로드해주세요">
            </div>
            <div class="mb-4">
                <label for="sheetFile">독후활동지 파일</label>
                <input type="file" id="sheetFile" name="sheetFile" class="form-control" accept="application/pdf" placeholder="pdf파일을 업로드해주세요">
                <div th:if="${#fields.hasGlobalErrors()}">
                    <span th:class="errorMsg" class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</span> </div>
            </div>
            <div class="mb-4">
                <label for="sheetContent">설명</label>
                <textarea type="text" id="sheetContent" th:field="*{sheetContent}" class="form-control" placeholder="설명을 입력하세요"></textarea>
            </div>
            <hr class="my-4">

            <!--        &lt;!&ndash; single checkbox &ndash;&gt;-->
            <!--        <div>판매 여부</div>-->
            <!--        <div>-->
            <!--            <div class="form-check">-->
            <!--                <input type="checkbox" id="open" th:field="*{open}" class="form-check-input">-->
            <!--                <label for="open" class="form-check-label">판매 오픈</label>-->
            <!--            </div>-->
            <!--        </div>-->

            <!-- radio button -->

            <div class="mb-4">
                <!-- radio button -->
                <div>
                    <div>장르</div>
                    <div th:each="gn : ${genre}" class="form-check form-check-inline">
                        <input type="radio" th:field="*{sheetGenreName}" th:value="${gn.sheetGenreName}" class="form-check-input">
                        <label th:for="${#ids.prev('sheetGenreName')}" th:text="${gn.getSheetGenreName()}" class="form-check-label">
                            장르
                        </label>
                    </div>
                </div>
                <span class="errorMsg" th:errors="*{sheetGenreName}">장르 오류</span>
                <hr class="my-4">
                <!-- radio button -->
                <div>
                    <div>연령대</div>
                    <div th:each="ag : ${ageGroup}" class="form-check form-check-inline">
                        <input type="radio" th:field="*{sheetAgegroupName}" th:value="${ag.sheetAgegroupName}" class="form-check-input">
                        <label th:for="${#ids.prev('sheetAgegroupName')}" th:text="${ag.sheetAgegroupName}" class="form-check-label">
                            연령대
                        </label>
                    </div>
                </div>
                <hr class="my-4">
            </div>

            <div class="d-flex justify-content-end">
                <button id="addBtn" class="btn btn-primary" th:onclick="handleAddBtn()">상품 등록</button>
                <button class="btn btn-primary" type="button"
                        th:onclick="handleCancelBtn()">취소</button>
            </div>
        </form>
    </div>

    <script>

        let addForm = document.getElementById("addForm");

        function handleAddBtn() {
            if (confirm("활동지를 등록하시겠습니까?")) {
                addForm.submit();
            }
        }

        function handleCancelBtn() {
            history.back();
        }

    </script>

    <script>
        var modal = document.getElementById("bookSearchModal");

        function openModal() {
            modal.style.display = "block";
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        window.addEventListener('keydown', function(event) {
            if (event.key === 'Enter') {
                // 모달창이 띄워져 있는지 확인
                if (document.querySelector('#bookSearchModal').style.display === 'block') {
                    // search 함수 호출
                    search();
                    // form submit 방지
                    event.preventDefault();
                }
            }
        });

        // 도서 검색 open api
        function search(pageNum) {
            var keyword = $("#keyword").val();
            var authorSearch = $("#authorSearch").val();
            $.ajax({
                url: "/sheet/request/booksearch",
                type: "GET",
                data: {
                    keyword: keyword,
                    authorSearch: authorSearch,
                    pageNum: pageNum,
                },
                success: function(data) {
                    var bookList = data.bookList;
                    var total = data.total;
                    var totalPageNum = parseInt(data.totalPageNum);
                    var currentPageNum = parseInt(data.currentPageNum);

                    var result = "";
                    result += `<hr><div class="d-flex align-items-center mb-4 fs-sm--1"><span>검색 결과 : ${total}개</span></div>`;
                    for (var i = 0; i < bookList.length; i++) {
                        result += `<div class='eachBook' onclick='getBookValue(this)'>`;
                        result += `<div class='row align-items-center justify-content-center'>`;
                        result += `<div class='col-3 text-center'>`;
                        result += `<img class='sheetBookimgname' src='${bookList[i].sheetBookimgname}'>`;
                        result += `</div>`;
                        result += `<div class='col-5 text-start'>`;
                        result += `<p class='sheetBooktitle'><span class="sheetdetail-title">책 제목 : </span>${bookList[i].sheetBooktitle}</p>`;
                        result += `<p class='sheetBookauthor'><span class="sheetdetail-title">작가 : </span>${bookList[i].sheetBookauthor}</p>`;
                        result += `<p class='sheetBookpublisher'><span class="sheetdetail-title">출판사 : </span>${bookList[i].sheetBookpublisher}</p>`;
                        result += `<p class='sheetBookisbn'><span class="sheetdetail-title">ISBN : </span>${bookList[i].sheetBookisbn}</p>`;
                        result += `</div>`;
                        result += `</div>`;
                        result += `</div><hr>`;
                    }
                    result += `<div>`;
                    if (currentPageNum > 1) {
                        result += `<button type="button" class="btn btn-primary" onclick="search(${currentPageNum - 1})"><<</button>`;
                    }

                    result += `${currentPageNum} / ${totalPageNum}`;

                    if (currentPageNum < totalPageNum) {
                        result += `<button type="button" class="btn btn-primary ms-1" onclick="search(${currentPageNum + 1})">>></button>`;
                    }
                    result += `</div>`;
                    $("#searchResult").html(result);
                }
            });
        }

        // 검색 리스트 클릭 시 도서 정보 폼으로 이동
        function getBookValue(element) {
            var title = $(element).find(".sheetBooktitle").text();
            var author = $(element).find(".sheetBookauthor").text();
            var pub = $(element).find(".sheetBookpublisher").text();
            var isbn = $(element).find(".sheetBookisbn").text();
            $("#sheetBooktitle").val(title);
            $("#sheetBookauthor").val(author);
            $("#sheetBookpublisher").val(pub);
            $("#sheetBookisbn").val(isbn);

            $("#bookSearchModal").css("display", "none");
        }



    </script>
</mainSection>
</body>
</html>