<!DOCTYPE html>
<html th:replace="~{/layout/layout-No-Sidebar :: layout(~{::menuTitle}, ~{::mainSection})}" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<menuTitle>비밀번호 찾기</menuTitle>
<mainSection>

<form class="container">
    <p><i class="fa-solid fa-circle-exclamation"></i> 아래의 회원정보를 입력해 임시 비밀번호를 발급받으세요.</p>
    <hr style="height: 2px; color: black">
    <div class="row">
        <span class="offset-1 col-2 text-truncate"><label for="memberEmail">이메일</label></span>
        <span class="col-9">
            <input class="form-control-inline" type="email" name="memberEmail" id="memberEmail"/>
            <div class="errorDiv" error="memberEmail" style="color: red"></div>
        </span>
    </div>
    <hr>
    <div class="row">
        <span class="offset-1 col-2 text-truncate"><label for="memberName">이름</label></span>
        <span class="col-9">
            <input class="form-control-inline" type="text" name="memberName" id="memberName"/>
            <div class="errorDiv" error="memberName" style="color: red"></div>
        </span>
    </div>
    <hr>
    <div class="text-center">
        <a class="btn-lg btn-primary" id="findBtn">임시 비밀번호 발송</a>
    </div>
</form>
<script th:inline="javascript">
    document.getElementById("findBtn").addEventListener("click", function (event) {
        event.preventDefault(); // 폼의 기본 동작(페이지 새로고침) 방지

        let memberEmail = document.getElementById("memberEmail").value;
        let memberName = document.getElementById("memberName").value;
        let formData = new URLSearchParams({
            memberEmail: memberEmail,
            memberName: memberName,
        });
        fetch("/member/findPw", {
            method: 'POST',
            body: formData
        })
            .then((response) => {
                if (response.ok) {

                    for (let errorDiv of document.querySelectorAll(".errorDiv")){
                        errorDiv.innerText = "";
                    }
                    alert("임시 비밀번호가 이메일로 전송되었습니다. " +
                        "\n - 임시 비밀번호 발급은 1분 정도 소요될 수도 있습니다." +
                        "\n - 메일이 오지 않을 경우, 스팸 메일함과 차단내역을 확인부탁드립니다.")
                } else if (response.status === 400) {
                    response.json().then(data => {
                        // 에러 메시지 초기화
                        for (let errorDiv of document.querySelectorAll(".errorDiv")) {
                            errorDiv.innerText = "";
                        }
                        // 응답 데이터를 파싱하여 에러 메시지 표시
                        // console.log(data);
                        for (const error of data) {
                            let errorElement = null;
                            if (error.field == null) {
                                errorElement = document.querySelector(`[error="${error.code}"]`);
                            } else {
                                // 해당 입력 필드 아래에 에러 메시지 표시
                                errorElement = document.querySelector(`[error="${error.field}"]`);
                            }
                            errorElement.innerText = error.defaultMessage;
                            // inputField.parentNode.appendChild(errorElement);
                        }
                    });
                } else if (response.status === 422) {
                    response.json().then(data => {
                        // 에러 메시지 초기화
                        for (let errorDiv of document.querySelectorAll(".errorDiv")) {
                            errorDiv.innerText = "";
                        }
                        // 응답 데이터를 파싱하여 에러 메시지 표시
                        // console.log(data);
                        for (const error of data) {
                            let errorElement = null;
                            if (error.field == null) {
                                errorElement = document.querySelector(`[error="${error.code}"]`);
                            } else {
                                // 해당 입력 필드 아래에 에러 메시지 표시
                                errorElement = document.querySelector(`[error="${error.field}"]`);
                            }
                            errorElement.innerText = error.defaultMessage;
                            // inputField.parentNode.appendChild(errorElement);
                        }
                    });
                } else {
                    // 기타 상태 코드에 대한 처리
                }
            })
    });
</script>
</mainSection>
</body>
</html>
