<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
도서 검색 폼 / bookSearch.html
<hr>


<br> 제목 <input type="text" id="keyword">
<br> 작가 <input type="text" id="author"> <button type="button" onclick="search()">검색</button>
<div id="result"></div>


<script>
    function search() {
        var keyword = document.getElementById("keyword").value;
        var author = document.getElementById("author").value;
        var data = new FormData();
        data.append('keyword', keyword);
        data.append('author', author);

        fetch('/sheet/booksearch', {
            method: 'POST',
            body: data
        })
            .then(response => response.text())
            .then(data => {
                var parser = new DOMParser();
                var xmlDoc = parser.parseFromString(data, "text/xml");
                var items = xmlDoc.getElementsByTagName("item");
                var result = "";
                for (var i = 0; i < items.length; i++) {
                    var title = items[i].getElementsByTagName("title_info")[0].childNodes[0].nodeValue;
                    var author = items[i].getElementsByTagName("author_info")[0].childNodes[0].nodeValue;
                    var pub = items[i].getElementsByTagName("pub_info")[0].childNodes[0].nodeValue;
                    var image = items[i].getElementsByTagName("image_url")[0].childNodes[0].nodeValue;
                    var isbn = items[i].getElementsByTagName("isbn")[0].childNodes[0].nodeValue;
                    var year = items[i].getElementsByTagName("pub_year_info")[0].childNodes[0].nodeValue;
                    var genre = items[i].getElementsByTagName("kdc_name_1s")[0].childNodes[0].nodeValue;
                    result += "<div class='bookInfo'>";
                    result += "<img src='" + image + "'>";
                    result += "<p class='title'>" + title + "</p>";
                    result += "<p class='author'>저자: " + author + "</p>";
                    result += "<p class='pub'>출판사: " + pub + "</p>";
                    result += "<p class='isbn'>ISBN: " + isbn + "</p>";
                    result += "<p>출판연도: " + year + "</p>";
                    result += "<p>구분: " + genre + "</p>";
                    result += "</div>";
                }
                document.getElementById("result").innerHTML = result;

                // 클릭 이벤트 리스너를 추가
                var bookInfos = document.querySelectorAll('.bookInfo');
                for (var i = 0; i < bookInfos.length; i++) {
                    bookInfos[i].addEventListener('click', function() {
                        // 클릭한 div 태그 안에 있는 정보 가져오기
                        var title = this.querySelector('.title').textContent;
                        var author = this.querySelector('.author').textContent;
                        var pub = this.querySelector('.pub').textContent;
                        var isbn = this.querySelector('.isbn').textContent;
                        var img = this.querySelector('img').textContent;

                        // 가져온 정보들을 객체로 변환
                        var data = {
                            title: title,
                            author: author,
                            pub: pub,
                            isbn: isbn,
                            img: img
                        };

                        // 객체를 부모 창으로 전송
                        window.opener.postMessage(data, '*');
                    });
                }
            });
    }
</script>

</body>
</html>