<!DOCTYPE HTML>
<html th:replace="~{/layout/defaultLayout :: layout(~{::menuTitle}, ~{::sidebar}, ~{::mainSection})}" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<menuTitle>독후활동지</menuTitle>
<sidebar><th:block th:replace="layout/sidebar/sheet-sidebar :: sheet"></th:block></sidebar>

<mainSection>
    <link rel="stylesheet" href="/css/sheet-detail.css">
    <div class="row container-detail position-relative bg-white">
        <div class="images col-md-4 text-center">
            <img th:if="${sheet.sheetBookimguuid == null}" class="img-detail img-fluid" id="sheetBookImg" th:src="|/assets/img/defaultImg.jpeg|">
            <img th:if="${sheet.sheetBookimguuid != null}" class="img-detail img-fluid" id="sheetBookImg" th:src="|/sheet/bookImg/*{sheet.sheetBookimguuid}*{sheet.sheetBookimgname}|" />
        </div>
        <div class="product col-md-8 px-5">
            <p class="p-detail">북키타카 독후활동지</p>
            <div class="position-absolute top-0 end-0 m-2">
                <div class="text-end"><span class="desc" id="sheetRegdate" th:text="${#dates.format(sheet.sheetRegdate, 'yyyy.MM.dd')}">등록 날짜</span><span class="p-detail mx-1">등록</span></div>
                <div th:if="${sheet.sheetModdate} != null" class="text-end"><span class="desc" id="sheetModdate" th:text="${#dates.format(sheet.sheetModdate, 'yyyy-MM-dd')}">수정 날짜</span><span class="p-detail">수정됨</span></div>
                <div class="text-end"><span class="desc" id="sheetHit" th:text="*{sheet.sheetHit}">조회수</span><span class="p-detail mx-1">조회</span></div>
            </div>
            <h1 class="clamp-2"><strong id="sheetBooktitle" th:text="*{sheet.sheetBooktitle}">제목</strong><span class="p-detail px-2">의 활동지</span></h1>
            <h2 class="h2-detail" id="sheetPrice" th:text="${'₩' + #numbers.formatInteger(sheet.sheetPrice, 3, 'COMMA')}">$150</h2>
            <h6 class="pt-3 fw-bold">도서 정보</h6>
            <div class=""><div class="label-detail">작가</div><div class="content-detail" id="sheetBookauthor" th:text="*{sheet.sheetBookauthor}">작가명</div></div>
            <div class=""><div class="label-detail">출판사</div><div class="content-detail" id="sheetPublisher" th:text="*{sheet.sheetBookpublisher}">출판사명</div></div>
            <div class="" th:if="*{sheet.sheetBookisbn != null}"><div class="label-detail">ISBN</div><span class="content-detail" id="sheetBookisbn" th:text="*{sheet.sheetBookisbn}">ISBN</span></div>
            <h6 class="pt-3 fw-bold">활동지 정보</h6>
            <div class="my-2"><span class="label-detail me-2">연령대ㅤㅤ</span><span class="content-detail" id="sheetAgeGroupName" th:text="*{sheet.sheetAgegroup.sheetAgegroupName}">연령대</span></div>
            <div class="my-2"><span class="label-detail me-2">장르ㅤㅤㅤ</span><span class="content-detail" id="sheetGenreName" th:text="*{sheet.sheetGenre.sheetGenreName}">장르</span></div>
            <div class="my-2"><span class="label-detail me-2">다운로드 수</span><span class="content-detail" id="sheetBuyCnt" th:text="*{sheet.sheetBuycnt}">다운로드 수</span></div>
            <div class="my-2"><div class="label-detail">소개</div><span class="content-detail" id="sheetContent" th:text="*{sheet.sheetContent}">내용</span></div>
            <div class="buttons mt-3">
                <button class="button-detail button-detail-1" th:onclick="'cartAdd(\'' + ${sheet.sheetNo} + '\')'">장바구니 담기<i class="fa-solid fa-cart-arrow-down px-2"></i></button>
                <button class="button-detail button-detail-2" th:attr="data-fileuuid=${sheet.sheetFileuuid}" onclick="downloadFile(this.getAttribute('data-fileuuid'))" id="sheetFile">파일 다운로드<i class="fa-solid fa-file-arrow-down px-2"></i></button>
<!--                <form  class="position-absolute bottom-0 end-0 m-2" th:action="@{/sheet/list}">-->
<!--                    <button class="button-detail button-detail-3">목록으로</button>-->
<!--                    <input type="hidden" name="genre" th:value="${genre}">-->
<!--                    <input type="hidden" name="ageGroup" th:value="${ageGroup}">-->
<!--                    <input type="hidden" name="pageNum" th:value="${cri.pageNum}">-->
<!--                    <input type="hidden" name="amount" th:value="${cri.amount}">-->
<!--                    <input type="hidden" name="searchType" th:value="${cri.searchType}">-->
<!--                    <input type="hidden" name="searchWord" th:value="${cri.searchWord}">-->
<!--                    <input type="hidden" name="sort" th:value="${cri.sort}">-->
<!--                </form>-->
            </div>
        </div>
    </div>
    <div class="card position-relative mt-5">
        <div class="card-body">
            <h2 class="fw-bold my-3"><i class="fa-regular fa-file-pdf px-2"></i>활동지 미리보기</h2>
            <div id="preViewWrap" class="px-3" style="background-color: #FAF7F8; border-radius: 20px;">
        <!--        <iframe id="pdf-iframe" src="" width="100%" height="800px"></iframe>-->
                <div class="p-4 text-center" id="pdf-preview-container">
                    <div id="pdf-preview" style="width: 100%; height: 100%; overflow-x: scroll;">
                        <div id="pdf-page-1" class="pdf-page"></div>
                        <div id="pdf-page-2" class="pdf-page"></div>
                        <div id="pdf-page-3" class="pdf-page"></div>
                    </div>
                    <div id="pdf-nav">
                        <button id="prev-page" class="position-absolute top-50 start-0 translate-middle-y w-25 h-50 fw-bold fs-8" style="background-color: rgba(0,0,0,0); color: lightpink; border: 0 solid white"><</button>
                        <button id="next-page" class="position-absolute top-50 end-0 translate-middle-y w-25 h-50 fw-bold fs-8" style="background-color: rgba(0,0,0,0); color: lightpink; border: 0 solid white">></button>
                        <button id="close-btn" class="btn btn-info position-absolute top-0 end-0 m-2" style="border: 0 solid white">닫기<i class="fa-solid fa-xmark ps-2"></i></button>
                    </div>
                </div>

            </div>
        </div>
    </div>


        <hr class="my-4">

        <div class="row" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
            <div class="col">
                <a th:href="|/sheet/${sheet.sheetNo}/mod|" class="w-100 btn btn-warning" type="submit">상품 정보 수정</a>
            </div>
            <div class="col">
                <button id="removeBtn" th:onclick="'deleteCheck(\'' + ${sheet.sheetNo} + '\')'"  class="w-100 btn btn-danger" type="submit">상품 삭제</button>
            </div>
<!--            <div class="col">-->
<!--                <form th:action="@{/sheet/list}">-->
<!--                    <button class="w-100 btn btn-secondary" type="submit">목록으로</button>-->
<!--                    <input type="hidden" name="genre" th:value="${genre}">-->
<!--                    <input type="hidden" name="ageGroup" th:value="${ageGroup}">-->
<!--                    <input type="hidden" name="pageNum" th:value="${cri.pageNum}">-->
<!--                    <input type="hidden" name="amount" th:value="${cri.amount}">-->
<!--                    <input type="hidden" name="searchType" th:value="${cri.searchType}">-->
<!--                    <input type="hidden" name="searchWord" th:value="${cri.searchWord}">-->
<!--                    <input type="hidden" name="sort" th:value="${cri.sort}">-->
<!--                </form>-->
<!--            </div>-->
        </div>
    <div>
        <form class="text-end my-3" th:action="@{/sheet/list}">
            <button class="button-detail button-detail-3">목록으로</button>
            <input type="hidden" name="genre" th:value="${genre}">
            <input type="hidden" name="ageGroup" th:value="${ageGroup}">
            <input type="hidden" name="pageNum" th:value="${cri.pageNum}">
            <input type="hidden" name="amount" th:value="${cri.amount}">
            <input type="hidden" name="searchType" th:value="${cri.searchType}">
            <input type="hidden" name="searchWord" th:value="${cri.searchWord}">
            <input type="hidden" name="sort" th:value="${cri.sort}">
        </form>
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

<script src="/pdfjs/build/pdf.js"></script>

<script th:inline="javascript">
    let sheetNo =  /*[[ ${sheet.sheetNo} ]]*/'' ;

    function downloadFile(fileUuid) {
        // 파일 다운로드 요청을 보낼 URL
        var url = '/sheet/sheetFile/' + fileUuid;

        fetch(url)
            .then(response => {
                if (response.status === 200) {
                    return response.blob().then(blob => {
                        var filename = getFileNameFromResponse(response); // 응답 헤더에서 파일 이름 추출
                        // 응답으로 받은 Blob을 파일로 다운로드
                        var link = document.createElement('a');
                        link.href = URL.createObjectURL(blob);
                        link.download = filename;
                        link.click();
                    });
                } else if (response.status === 206) {
                    response.text().then(msg => {
                        if (confirm(msg + ". 바로 구매하시겠습니까?")) {
                            var selectedItems = [sheetNo];
                            var encodedList = JSON.stringify(selectedItems);
                            document.cookie = "carts=" + encodeURIComponent(encodedList) + "; path=/";
                            window.location.href = "/payproc/paying";
                        }
                        }
                    )
                } else if (response.status === 403) {
                    if (confirm("로그인시에 이용 가능합니다. 로그인하시겠습니까?")) {
                        window.location.href = "/member/login";
                    }
                } else {
                    return response.text().then(errorMessage => {
                        throw new Error(errorMessage);
                    });
                }
            })
            .catch(error => {
                // 오류 처리
                console.error(error);
                if (confirm("구매 내역이 없습니다. 바로 구입하시겠습니까?")) {
                    var selectedItems = [sheetNo];
                    var encodedList = JSON.stringify(selectedItems);
                    document.cookie = "carts=" + encodeURIComponent(encodedList) + "; path=/";
                    window.location.href = "/payproc/paying";
                }
            });
    }

    function getFileNameFromResponse(response) {
        var contentDisposition = response.headers.get('Content-Disposition');
        var matches = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/.exec(contentDisposition);
        var encodedFilename = matches[1].replace(/['"]/g, '');
        var filename = decodeURIComponent(encodedFilename);
        return filename;
    }



    function cartAdd(sheetNo) {
        fetch("/cart/cartAdd", {
            method: 'POST',
            body: new URLSearchParams({ sheetNo: sheetNo }),
            headers: {'ajax':true}
        })
        .then((response) => {
            if (response.status === 200) {
                response.json().then((data) => {
                    console.log(data);
                    if (data.fail) {
                        alert("이미 장바구니에 담겨있는 상품입니다.");
                    } else if (data.bought) {
                        alert("이미 구입한 상품입니다.");
                    } else if (data.success) {
                        showCartCount();
                        if (confirm("추가에 성공하였습니다. 장바구니로 이동하시겠습니까?")) {
                            window.location.href = "/cart/cart";
                        }
                    } else {
                        console.error('추가에 실패하였습니다.');
                    }
                });
            } else if (response.status === 201) {
                console.log("토큰 재발급");
                cartAdd(sheetNo);
            } else if (response.status === 403) {
                if (confirm("로그인시에 이용 가능합니다. 로그인하시겠습니까?")) {
                    window.location.href = "/member/login";
                }
            } else {
                console.error('추가 요청 중 에러 발생', response.status);
            }
        }).catch(error => {
            console.error('추가 요청 실패:', error);
        });
    }


    function deleteCheck(sheetNo) {
        if (confirm("정말로 삭제하시겠습니까?")) {
         deleteSheet(sheetNo)
        }
    }


    function deleteSheet(sheetNo) {
        fetch(`/sheet/${sheetNo}`, {
            method: 'DELETE'
        })
        .then(response => {
            if (response.ok) {
                // 삭제 성공 시 목록 페이지로 리다이렉트
                alert("삭제에 성공하였습니다")
                window.location.href = '/sheet/list';

            } else {
                // 실패 시 에러 처리
                alert('삭제 요청이 실패하였습니다.')
            }
        })
        .catch(error => {
            console.error('삭제 요청 중 에러가 발생하였습니다.', error);
            alert("삭제 요청 중 에러가 발생하였습니다.")
        });
    }


    const pdfPath = '/sheet/preview/' + /*[[${sheet.sheetFileuuid}]]*/ '';// PDF 파일 경로


    const numPreviewPages = 1; // 한 번에 표시할 페이지 수
    const previewBox= document.getElementById('pdf-preview-container');
    const previewContainer = document.getElementById('pdf-preview');
    const prevButton = document.getElementById('prev-page');
    const nextButton = document.getElementById('next-page');
    const closeButton = document.getElementById('close-btn');

    let currentPage = 1;
    let pdfDocument;

    function renderPreviewPage(pageNumber) {

        const container = document.createElement('div');
        container.className = 'pdf-page-container';
        previewContainer.appendChild(container);

        const canvas = document.createElement('canvas');
        container.appendChild(canvas);
        const context = canvas.getContext('2d');

        pdfDocument.getPage(pageNumber).then(page => {
            const viewport = page.getViewport({ scale: 1 });
            canvas.height = viewport.height;
            canvas.width = viewport.width;

            page.render({
                canvasContext: context,
                viewport
            }).promise.then(() => {
                // 페이지 렌더링 완료 시
            });
        });
    }

    function removePreviewPages() {
        while (previewContainer.firstChild) {
            previewContainer.firstChild.remove();
        }
    }

    function navigateToPage(pageNumber) {
        if (pageNumber < 1 || pageNumber > pdfDocument.numPages) {
            return;
        }

        const pageCount = pdfDocument.numPages;

        currentPage = pageNumber;

        removePreviewPages();

        const firstPage = currentPage;
        const lastPage = Math.min(currentPage + numPreviewPages - 1, pageCount);

        for (let i = firstPage; i <= lastPage; i++) {
            renderPreviewPage(i);
        }
    }

    function prevPage() {
        const previousPage = currentPage - 1;
        if (previousPage >= 1) {
            navigateToPage(previousPage);
        } else {
            alert("미리보기 첫 번째 페이지입니다.");
        }
    }

    function nextPage() {
        const nextPage = currentPage + 1;
        if (nextPage <= 3) {
            navigateToPage(nextPage);
        } else {
            alert("미리보기 마지막 페이지입니다.");
        }
    }


    function togglePreview() {
        if (previewContainer.style.display === 'none') {
            previewContainer.style.display = 'block';
            closeButton.innerHTML = '닫기<i class="fa-solid fa-xmark ps-2">'
            nextButton.style.display = 'block';
            prevButton.style.display = 'block';
        } else {
            previewContainer.style.display = 'none';
            closeButton.innerHTML = '미리보기'
            nextButton.style.display = 'none';
            prevButton.style.display = 'none';
        }
    }

    prevButton.addEventListener('click', prevPage);

    nextButton.addEventListener('click', nextPage);

    closeButton.addEventListener('click', togglePreview)

    pdfjsLib.getDocument(pdfPath).promise.then(pdf => {
        pdfDocument = pdf;
        navigateToPage(1); // 첫 페이지를 렌더링하여 시작합니다.
    }).catch(err => {
        previewBox.innerHTML = "<p>미리보기가 존재하지 않습니다</p>" //존재하지 않을시 전체 박스를 내용을 없앱니다.
        console.error(err)
    }

    );
</script>
</mainSection>
</body>
</html>