<!DOCTYPE HTML>
<html th:replace="~{/layout/defaultLayout :: layout(~{::menuTitle}, ~{::sidebar}, ~{::mainSection})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .sheetBox {

        }

    </style>

</head>
<body>

<menuTitle>독후활동지</menuTitle>
<sidebar class="list-group-item"><a th:href="@{/sheet/list?ageGroup=유아용}">연령별</a></sidebar>
<sidebar class="list-group-item"><a th:href="@{/sheet/list?genre=그림책}">장르별</a></sidebar>
<sidebar class="list-group-item"><a th:href="@{/sheet/list?genre=독서토론논제은행}">논제은행</a></sidebar>
<sidebar class="list-group-item"><a th:href="@{/sheet/request}">개별출제요청</a></sidebar>

<mainSection>
    <div id="wrap">
        <div class="text-center">
            <h3 th:if="${genre != ''}" th:text="|장르별 보기 - ${genre}|" ></h3>
            <h3 th:if="${ageGroup != ''}" th:text="|나이대별 보기 - ${ageGroup}|" ></h3>
        </div>
        <form id="sheetListForm" th:action="@{/sheet/list}" method="get" class="text-center">
            <div class="row align-items-end justify-content-end">
                <div class="col-auto">
                    <div class="input-group">
                        <select class="form-select" id="inputCategories" name="searchType">
                            <option value="제목" th:selected="${cri.searchType == '제목'}">제목</option>
                            <option value="작가" th:selected="${cri.searchType == '작가'}">작가</option>
                            <option value="출판사" th:selected="${cri.searchType == '출판사'}">출판사</option>
                        </select>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="input-group">
                        <input th:value="${cri.searchWord}" type="text" class="form-control" name="searchWord" placeholder="검색어를 입력하세요"/>
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">검색</button>
                        </div>
                    </div>
                </div>
            </div>
        <br>
        <input type="hidden" name="genre" th:value="${genre}">
        <input type="hidden" name="ageGroup" th:value="${ageGroup}">
            <div class="justify-content-start">
                <div class="form-row">
                    <div class="col-4">
                        <div class="btn-group">
                            <button type="button" onclick="handleSortBtn('최신순')" th:class="${cri.sort == '최신순' ? 'btn btn-primary active' : 'btn btn-primary'}" th:text="'최신순'">최신순</button>
                            <button type="button" onclick="handleSortBtn('조회순')" th:class="${cri.sort == '조회순' ? 'btn btn-primary active' : 'btn btn-primary'}" th:text="'조회순'">조회순</button>
                            <button type="button" onclick="handleSortBtn('구매순')" th:class="${cri.sort == '구매순' ? 'btn btn-primary active' : 'btn btn-primary'}" th:text="'구매순'">구매순</button>
                        </div>
                        <input type="hidden" id="sortBtnInput" name="sort" th:value="${cri.sort}" />
                    </div>
                </div>
            </div>
    </form>
    </div>
    <hr class="my-0">
    <div>
                <div class="row">
                    <div th:each="sheet : ${sheetList}" class="col-md-6 border-bottom border-bottom-gray" style="padding-top: 25px; padding-bottom: 25px;">
                        <div class="row">
                        <div class="col-md-4">
                        <a th:href="@{|/sheet/${sheet.sheetNo}/?genre=${genre}&ageGroup=${ageGroup}&pageNum=${cri.pageNum}&amount=${cri.amount}&searchType=${cri.searchType}&searchWord=${cri.searchWord}&sort=${cri.sort}|}">
                            <img th:src="|/sheet/bookImg/*{sheet.sheetBookimguuid}*{sheet.sheetBookimgname}|" class="h-100 w-100" style="object-fit: contain" alt="Book Image">
                        </a>
                    </div>
                    <div class="col-md-8 mr-0">
                        <ul style="list-style-type: none;">
                            <li>
                                <h5 class="mt-2">
                                    <a th:href="@{|/sheet/${sheet.sheetNo}/?genre=${genre}&ageGroup=${ageGroup}&pageNum=${cri.pageNum}&amount=${cri.amount}&searchType=${cri.searchType}&searchWord=${cri.searchWord}&sort=${cri.sort}|}">
                                        <span th:text="${#strings.length(sheet.sheetBooktitle) &lt;= 7 ? sheet.sheetBooktitle : sheet.sheetBooktitle.substring(0, 7) + '...'}"></span>
                                    </a>
                                </h5>
                            </li>
                            <li>
                                <h6>ㆍ작가: <span th:text="${sheet.sheetBookauthor}">작가이름</span></h6>
                            </li>
                            <li>
                                <h6>ㆍ출판사: <span th:text="${sheet.sheetBookpublisher}">출판사이름</span></h6>
                            </li>
                            <li>
                                <h6>ㆍ가격: <span th:text="${sheet.sheetPrice}">10000</span></h6>
                            </li>
                        </ul>
                    </div>
                        </div>
                    </div>
                </div>


    </div>


    <div class="pagination mt-3 text-center">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:if="${pageInfo.hasPreviousPage}">
                <a class="page-link" th:href="@{/sheet/list(genre=${genre}, ageGroup=${ageGroup}, pageNum=${pageInfo.pageNum - 1}, amount=${pageInfo.amount}, searchType=${cri.searchType}, searchWord=${cri.searchWord}, sort=${cri.sort})}">&laquo;</a>
            </li>
            <li th:each="pageNum : ${pageInfo.getPageList()}" th:class="${pageNum} == ${pageInfo.pageNum} ? 'page-item page-disabled active' : 'page-item'">
                <a class="page-link" th:href="@{/sheet/list(genre=${genre}, ageGroup=${ageGroup}, pageNum=${pageNum}, amount=${pageInfo.amount}, searchType=${cri.searchType}, searchWord=${cri.searchWord}, sort=${cri.sort})}" th:text="${pageNum}"></a>
            </li>
            <li class="page-item" th:if="${pageInfo.hasNextPage}">
                <a class="page-link" th:href="@{/sheet/list(genre=${genre}, ageGroup=${ageGroup}, pageNum=${pageInfo.pageNum + 1}, amount=${pageInfo.amount}, searchType=${cri.searchType}, searchWord=${cri.searchWord}, sort=${cri.sort})}">&raquo;</a>
            </li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script>

        function handleSortBtn(sortValue) {
            document.getElementById("sortBtnInput").value = sortValue;
            document.getElementById("sheetListForm").submit();
        }

    </script>

</mainSection>
</body>
</html>