<head>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
    <div>
        <label for="sheetFile">독후활동지 파일</label>
        <a id="sheetFile" class="btn btn-primary" th:href="|/sheet/sheetFile/*{sheet.sheetFileuuid}|">다운로드</a>
    </div>

    <!--장바구니에 담기 버튼-->
    <div>
        <a th:onclick="'cartAdd(\'' + ${sheet.sheetNo} + '\')'" class="btn btn-secondary">장바구니에 담기</a>
    </div>

    <script>
        // 상품 삭제 요청을 보내고 성공 시 장바구니 목록 갱신
        function cartAdd(sheetNo) {
            console.log(sheetNo);
            $.ajax({
              url: '/cart/cartAdd',  // 서버의 상품 삭제 API 엔드포인트
              type: 'POST',
              data: { sheetNo: sheetNo },
        //      beforeSend: function(xhr) {
        //        xhr.setRequestHeader('X-CSRF-TOKEN', $('meta[name="_csrf"]').attr('content'));
        //      },
              success: function(response) {
                if (response.success) {
                  alert("추가에 성공하였습니다")
                } else {
                  console.error('추가 요청이 실패하였습니다.', error);
                  alert('추가 요청이 실패하였습니다.')
                }
              },
              error: function() {
                console.error('추가 요청 중 에러가 발생하였습니다.', error);
                alert("추가 요청 중 에러가 발생하였습니다.")
              }
            });
        }
    </script>
</body>