<!DOCTYPE HTML>
<html th:replace="~{/layout/defaultLayout :: layout(~{::menuTitle}, ~{::sidebar}, ~{::mainSection})}" xmlns:th="http://www.thymeleaf.org">
<head>
<body>

<menuTitle>알림마당</menuTitle>
<sidebar><th:block th:replace="layout/sidebar/notification-sidebar :: notification"></th:block></sidebar>

<mainSection>
    <div id="wrap">
        <div class="row g-0 align-items-center">
            <div class="col-auto">
                <h1 class="fs-5 fs-xl-5 mb-5">자주묻는질문 수정</h1>
            </div>
        </div>
        <form th:action="@{/faq/edit}" method="post">
            <input type="hidden" name="faqNo" th:value="${editFaq.faqNo}">
            <div class="mb-3">
                <label class="form-label" name="faqQuestion" >자주묻는 질문</label>
                <textarea name="faqQuestion" th:text="${editFaq.faqQuestion}" class="form-control" rows="3"></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label" name="faqAnswer" >답변</label>
                <textarea name="faqAnswer" th:text="${editFaq.faqAnswer}" class="form-control" rows="3"></textarea>
            </div>
            <div>
                카테고리
                <select name="faqCategory">
                    <option th:each="category : ${faqAllCategory}" th:value="${category}" th:text="${category}" th:selected="${category == editFaq.faqCategory}"></option>
                </select>
            </div>

            <div>
                <br> most/best 여부
                <input type="checkbox" name="faqBest" value="1" th:checked="${editFaq.faqBest == 1}">
            </div>
            <hr>
            <div class="d-flex justify-content-end">
                <button class="btn btn-primary" type="submit">FAQ 등록</button>
                <button class="btn btn-primary cancelBtn" type="button">취소</button>
            </div>
        </form>
    </div>

    <script th:inline="javascript">
        document.querySelector('.cancelBtn').addEventListener('click', function() {
            window.history.back();
        });
    </script>
    </div>
</mainSection>
</body>
</html>