<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
FAQ list.html

<hr>
<a href="/faq/best">BEST</a>
<a th:each="eachCategory : ${faqAllCategory}" th:href="@{/faq/{category}(category=${eachCategory})}">
    <span th:text="${eachCategory}"></span>
</a>

<hr>
<a href="/faq/add">등록</a>

    <table class="tb_col" style="border: black 1px;">
        <tr>
            <th>Q</th>
            <th>A</th>
            <th>Category</th>
            <th>best</th>
            <th>삭제버튼</th>
            <th>수정버튼</th>
        </tr>
        <tr th:each="faq : ${faqAll.content}">
            <td th:text="${faq.faqQuestion}"></td>
            <td th:text="${faq.faqAnswer}"></td>
            <td th:text="${faq.faqCategory}"></td>
            <td th:text="${faq.faqBest}"></td>
            <td>
                <form th:action="@{/faq/remove/{faqNo}(faqNo=${faq.faqNo})}" method="post">
                    <input id="deleteBtn" type="submit" value="삭제" onclick="deleteConfirm()">
                </form>
            </td>
            <td>
                <a class="editBtn" th:href="@{/faq/edit/{faqNo}(faqNo=${faq.faqNo})}">수정</a>
            </td>
        </tr>
    </table>

    <!-- 페이지 이동 버튼-->
    <div th:each="pageNumber : ${#numbers.sequence(0, faqAll.totalPages - 1)}">
        <form th:action="@{/faq/{category}(category=${faqCategory})}" method="get">
            <input type="hidden" name="page" th:value="${pageNumber}" />
            <button th:text="${pageNumber + 1}"></button>
        </form>
    </div>




<script th:inline="javascript">
    function deleteConfirm() {
        // 삭제 확인 후, 확인 시 삭제처리
        if (confirm('정말 삭제하시겠습니까?')) {
            this.closest('form').submit();
        }
    }



</script>

</body>
</html>

