<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
FAQ list.html

<hr>
<a href="/faq">MOST</a>
<a th:each="eachCategory : ${faqAllCategory}" th:href="@{/faq/{category}(category=${eachCategory})}">
    <span th:text="${eachCategory}"></span>
</a>

<hr>
<a href="/faq/add">등록</a>

<div th:if="${faqCategory == null}">
    best
    <table class="tb_col" style="border: black 1px;">
        <tr>
            <th>Q</th>
            <th>A</th>
            <th>Category</th>
            <th>best</th>
            <th>삭제</th>
        </tr>
        <tr th:each="faq : ${faqListByBest}">
            <td th:text="${faq.faqQuestion}"></td>
            <td th:text="${faq.faqAnswer}"></td>
            <td th:text="${faq.faqCategory}"></td>
            <td th:text="${faq.faqBest}"></td>
            <td>
                <form th:action="@{/faq/remove/{faqNo}(faqNo=${faq.faqNo})}" method="post">
                    <input type="submit" value="삭제">
                </form>
            </td>
        </tr>
    </table>
</div>

<div th:if="${faqCategory != null}">
    카테고리
    <table class="tb_col" style="border: black 1px;">
        <tr>
            <th>Q</th>
            <th>A</th>
            <th>Category</th>
            <th>best</th>
            <th>삭제</th>
        </tr>
        <tr th:each="faq : ${faqListByCategory}">
            <td th:text="${faq.faqQuestion}"></td>
            <td th:text="${faq.faqAnswer}"></td>
            <td th:text="${faq.faqCategory}"></td>
            <td th:text="${faq.faqBest}"></td>
            <td>
                <form th:action="@{/faq/remove/{faqNo}(faqNo=${faq.faqNo})}" method="post">
                    <input type="submit" value="삭제">
                </form>
            </td>
        </tr>
    </table>
</div>




</body>
</html>

